.task{
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
  max-width: 360px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  border-radius: 3px;
}
.images-container{
  margin-left: auto;
}
.delete-icon{
  width: 25px;
}
.edit-icon{
  width: 25px;
  padding-right: 5px;
}