.edit-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
  width: 400px;
  padding: 30px 30px;
  border-radius: 3px;
}
.edit-title{
  font-size: 20px;
  margin-bottom: 20px;
}
.info-container{
  width: 100%;
  display: grid;
  grid-template-columns: 120px 1fr; /* fiksno + ostatak */
  grid-template-rows: repeat(3, auto);
  gap: 15px 0px;
  align-items: center;
}
.info-title{
  color: rgb(69, 69, 69);
}
.info-value{
  color: rgb(54, 54, 54);
}
.edit-button{
  width: 100%;
  color: white;
  background-color: rgb(109, 109, 239);
  border: none;
  padding: 7px 0px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}
.input-container{
  margin-bottom: 12px;
}
.edit-input{
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(175, 175, 175);
  border-radius: 4px;
}
